body{
    background-size: cover;
    background-color: rgba(25, 30, 40, 1);
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Inter', sans-serif;
}

h1, h4{
    color: white;
    width: 70%;
    margin: 40px auto 10px;
    text-align: center;
}

h1{
    font-weight: 700;
}

h6{
    font-weight: 400;
}

p{
    font-weight: 400;
    color: white;
    width: 85%;
    margin: 10px auto;
    text-align: center;
}

label {
    color: white;
}

input[type=text], input[type="password"]{
    width: 100%;
    padding: 12px 20px;
    margin: 15px 0;
    background-color: rgb(25, 30, 40);
    color: white;
    display: inline-block;
    border: 1px solid #4e6ae6;
    border-radius: 8px;
    box-sizing: border-box;
}

input[type=submit]{
    width: 100%;
    background-color: #1a3bce;
    color: white;
    padding: 14px 20px;
    margin: 15px 0px 0px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #122474;
}

div {
    border-radius: 10px;
    background-color: rgb(35, 40, 51);
    padding: 20px;
    margin: auto 25%;
}

.errors{
    color: rgb(209, 0, 0);
    font-size: 12px;
}
